header {
  background-color: #E5E5E5;

  .header-container {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .header {
    &__logo, &__user {
      flex: 1 0 200px;
    }

    &__controls {
      width: 100%;
      display: flex;
      gap: 20px;
      min-height: 2rem;
    }

    &__settings {
      background-color: #2F80ED;
      height: inherit;
      padding: 5px 10px;
      vertical-align: middle;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    &__user {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: flex-end;

      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}