header {
  background-color: #E5E5E5;
}

.header-container {
  padding: 10px;
  display: flex;
  align-items: center;

  .logo, .user-info {
    flex: 1 0 200px;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
  }
}