<div class="search-item"
     [appHighlightBorder]="releaseDate"
     [appHighlightShadow]="releaseDate"
     isPreventByDefault="true"
>
  <div class="item__image">
    <img
      [src]="itemImage"
      alt="Item Image">
  </div>
  <div class="item__statistic" *ngIf="searchItem.itemType === VideoType.Youtube">
    <app-search-item-statistic [item]="searchItem"></app-search-item-statistic>
  </div>
  <div class="item__title">
    {{ title }}
  </div>
  <button class="item__btn" [disabled]="searchItem.itemType !== VideoType.Youtube">
    more...
  </button>
</div>
