<form [formGroup]="form" class="form" (ngSubmit)="onSubmitForm()">
  <h2>Login</h2>
  <div class="form-control">
    <label>
      login
      <input type="text" formControlName="login">
    </label>
    <div class="control-error" *ngIf="isControlInvalid('login', 'required')">
      Please enter a login email
    </div>
    <div class="control-error" *ngIf="isControlInvalid('login', 'email')">
      The login email is invalid
    </div>
  </div>
  <div class="form-control">
    <label>
      password
      <input type="password" formControlName="password">
    </label>
    <div class="control-error" *ngIf="isControlInvalid('password', 'required')">
      Please enter a password
    </div>
    <div class="control-error" *ngIf="isControlInvalid('password', 'weak')">
      Your password isn't strong enough
    </div>
  </div>
  <button type="submit" [disabled]="isSubmitButtonDisabled()">Login</button>
</form>
