<header>
  <div class="header-container">
    <div class="header__logo">
      <img src="assets/logo.svg" alt="Logo">
    </div>
    <div class="header__controls">
      <app-search-form></app-search-form>
      <button class="header__settings" (click)="onSettingsClick()">
        <img src="assets/settings.svg" alt="Settings">
      </button>
    </div>
    <div class="header__user">
      <span>Your Name</span>
      <button class="user__menu" (click)="onLogoutButtonClick()">
        <img src="assets/user.svg" alt="User">
      </button>
    </div>
  </div>
</header>
