header {
  background-color: #E5E5E5;

  .header-container {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .header {
    &__logo {
      flex: 1 0 100px;
    }

    &__controls {
      width: 100%;
      display: flex;
      gap: 20px;
      min-height: 2rem;
    }

    &__settings {
      background-color: #2F80ED;
      height: inherit;
      padding: 5px 10px;
      vertical-align: middle;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
    }

    &__user {
      display: flex;
      flex: 1 0 250px;
      align-items: center;
      gap: 10px;
      justify-content: flex-end;

      button {
        border: none;
        cursor: pointer;
      }

      .login-btn, .logout-btn {
        background-color: #2F80ED;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        height: 30px;
      }

      img {
        height: 30px;
        width: 30px;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
