<header>
  <div class="header-container">
    <div class="header__logo">
      <img src="assets/logo.svg" alt="Logo">
    </div>
    <div class="header__controls" appHideByRoute>
      <app-search-form></app-search-form>
      <button class="header__settings" (click)="onSettingsClick()">
        <img src="assets/settings.svg" alt="Settings">
      </button>
    </div>
    <div class="header__user">
      <button class="login-btn" *ngIf="((isUserLoggedIn$ | async) === false);else logout">Login</button>
    </div>
  </div>
</header>

<ng-template #logout>
  <span>{{ username }}</span>
  <img src="assets/user.svg" alt="User">
  <button class="logout-btn"(click)="onLogoutButtonClick()">
    Logout
  </button>
</ng-template>
