:host {
  flex: 1;
}

form {
  display: flex;
  min-height: 2rem;
}

input {
  padding: 5px;
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #000;
}

button {
  background-color: #2F80ED;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 15px;
  border: none;
  color: #fff;
  cursor: pointer;
}